<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ISS Tracker</title>
    </head>
    <body>
        <h1>ISS Tracker Setup</h1>
        <p>Let&apos;s get your tracker connected to your WiFi network.  You&apos;ll need your network name or SSID and password.</p>
        <p><b>These are case sensitive, so be sure to enter them correctly.</b></p>
        <form action="/configure" method="POST" autocomplete="off" autocapitalize="none">
            <label for="ssid">SSID:</label><br>
            <input type="text" id="ssid" name="ssid"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            <button>Save</button>
        </form>
    </body>
</html>